<ion-header>
  <ion-toolbar>
    <ion-title>principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="botones">
    <ion-img src="../../assets/Inventario.png" (click)="goToInventario()"></ion-img>
    <ion-img src="../../assets/Alta.png" (click)="goToAlta()"></ion-img>
    <ion-img src="../../assets/Prestamos inventario.png" (click)="goToPrestamo()"></ion-img>    
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar (click)="logout()">
    <ion-title>
      Cerrar sesión
    </ion-title>
  </ion-toolbar>
</ion-footer>