<ion-content [fullscreen]="true" color="dark">
  <form class="login">    
    <ion-item lines="full" color="medium">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full" color="medium">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required (keyup.enter)="logIn(email,password)"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
